body{
margin:0;
font-family:Arial;
}

/* HOME */

.home{
background-image:url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
background-size:cover;
height:100vh;
}

.overlay{
text-align:center;
color:white;
padding-top:200px;
background:rgba(0,0,0,0.5);
height:100vh;
}

.start-btn{
padding:12px 30px;
font-size:18px;
background:green;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

/* INPUT */

.input-page{
background:#d9f5d6;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.form-box{
background:white;
padding:30px;
border-radius:12px;
width:320px;
text-align:center;
box-shadow:0px 5px 15px rgba(0,0,0,0.2);
}

input{
width:90%;
padding:10px;
margin:8px;
border-radius:5px;
border:1px solid gray;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#result{
margin-top:20px;
color:green;
font-weight:bold;
}
