body{
margin:0;
font-family:Arial;
}

/* HOME PAGE */

.home{

background-image:url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
background-size:cover;
background-position:center;
height:100vh;

animation:moveBg 20s infinite alternate;
}

@keyframes moveBg{

0%{background-position:left;}

100%{background-position:right;}

}

.overlay{

text-align:center;
color:white;
padding-top:200px;
background:rgba(0,0,0,0.4);
height:100vh;

}

.start-btn{

padding:12px 30px;
font-size:18px;
background:green;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}

.start-btn:hover{

background:darkgreen;

}

/* INPUT PAGE */

.input-page{

background:#d9f5d6;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.form-box{

background:white;
padding:30px;
border-radius:10px;
width:300px;
text-align:center;

}

input{

width:90%;
padding:10px;
margin:8px;
border:1px solid gray;
border-radius:5px;

}

button{

padding:10px 20px;
background:green;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

button:hover{

background:darkgreen;

}

#result{

margin-top:20px;
color:green;

}